<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>テスト！！！！！！！！！！！！！</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <form action='indicate.cgi' method='POST'>
      下記に文字を入力してください<br><br>
      <input type="text" name="input"><br>
      <input type="submit" name="送信">
    </form>

    <% result = connection.exec("select weight, give_for from crops;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <% data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}　品質:#{record["quality"]}" %>
    <% end %>

    <% result_1 = connection.exec("SELECT weight, give_for FROM crops WHERE give_for != '自家消費';") %>
    <% data_1 = [] %>
    <% result_1.each do |record_1|%>
      <% data_1 << "ゴーヤの大きさ:#{record_1["weight"]}　売った相手:#{record_1["give_for"]}"%>
    <% end %>

    <% result_2 = connection.exec("SELECT quality FROM crops WHERE quality = 'false';")%>
    <% data_2 = [] %>
    <% result_2.each do |record_2|%>
      <% data_2 << "ゴーヤの品質:#{record_2["quality"]}"%>
    <% end %>

   <form action="goya.cgi" method="POST">
      下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
   </form>

   <form action="goya.cgi" method="POST">
      下記のボタンを押すと、自家消費以外のゴーヤの大きさと打った相手の情報が表示されます。<br><br>
      <input type="text" name="goya" value="<%= data_1.join(' ') %>">
      <input type="submit" name="送信" >
   </form>

   <form action="goya.cgi" method="POST">
      下記のボタンを押すと、悪い品質のゴーヤが表示されます。<br><br>
      <input type="text" name="goya" value="<%= data_2.join(' ') %>">
      <input type="submit" name="送信" >
   </form>


  </body>
</html>
